<div class="user-main-component">
    <div class="header-user-main">

        <button class="btn-header btn-uno"><i class="fa-regular fa-heart"></i></button>

        <button class="btn-primary btn-perfil" (click)="selectMenu(5)">
            <div class="img-perfil">
                <i class="fa-regular fa-user"></i>
            </div>

            <div class="data-perfil">
                <span class="name-perfil">C. Nabucodonosor</span>
                <span class="posicion-perfil"><i class="fa-solid fa-shield-halved"></i> AR</span>
            </div>
        </button>

        <button class="btn-header btn-notification">
            <div class="icon-container" (click)="changeShowModalNotification()">
                <i *ngIf="!hasNotification" class="fa-regular fa-bell"></i>
                <i *ngIf="hasNotification" class="fa-solid fa-bell"></i>
                <span *ngIf="hasNotification" class="dot"></span>
            </div>
        </button>
        <!-- <div class="title-header">
            <h1 class="logo">DaleFutbol <span>+</span></h1>
            <div class="line"></div>
            <span class="slogan">Juega donde y cuando quieras</span>
        </div>
        
        <div class="notification">


            <div class="icon-container" (click)="clickNotification()">
                <i *ngIf="!hasMessage" class="fa-regular fa-comment"></i>
                <i *ngIf="hasMessage" class="fa-solid fa-comment"></i>
                <span *ngIf="hasMessage" class="dot"></span>
            </div>           

        </div> -->
    </div>

    <div class="body-user-main">
        <router-outlet></router-outlet>
    </div>

    <div class="footer-user-main">
        <button class="btn btn-menu" 
            *ngFor="let menu of menus; let i = index" 
            [ngClass]="{'selected' : selectedMenu == i, 'centro': i == getCentroIndex()}"
            (click)="selectMenu(i)" >

            <i class="{{menu.icon}}"></i>
            {{menu.name}}
        </button>
    </div>
</div>

<app-modal-notification *ngIf="showModalNotification" [list]="listNotificacion" [title]="'Notificaciones'" [textButtonClose]="'Cerrar'" (closed)="changeShowModalNotification()"></app-modal-notification>