<div class="user-main-component">
    <div class="header-user-main">
        <h1 class="logo">DaleFutbol <span>+</span></h1>
        <div class="line"></div>
        <span class="slogan">Juega donde y cuando quieras</span>        
    </div>

    <div class="body-user-main">
        <!-- <app-partidos *ngIf="selectedMenu == 0"></app-partidos>
        <app-torneo *ngIf="selectedMenu == 1"></app-torneo>
        <app-mensajes *ngIf="selectedMenu == 2"></app-mensajes>
        <app-perfil *ngIf="selectedMenu == 3"></app-perfil> -->
        <router-outlet></router-outlet>
    </div>

    <div class="footer-user-main">
        <button class="btn btn-menu" 
            *ngFor="let menu of menus; let i = index" 
            [ngClass]="{'selected' : selectedMenu == i}"
            (click)="selectMenu(i)" >

            <i class="{{menu.icon}}"></i>
            {{menu.name}}
        </button>
    </div>
</div>