@use '../../../app.component.scss' as *;

.user-main-component{

    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100vh;
    z-index: 0;

    .header-user-main{
        
        display: flex;
        align-items:last baseline;
        justify-content: center;
        background-color: rgba($gray, 0.5);
        padding-top: 30px;
        border-bottom: 2px solid #f5f5f5;

        .btn-header{
            border: 0px;
            // border-bottom: 2px solid rgba($lightGray, .5);
            background-color: rgba($lightGray, .5);
            color: white;
            font-size: 16px;
            padding: 3px 20px;
            margin-bottom: 0px;
            transform: translateY(2px);

            i{
                filter: drop-shadow(0px 0px 4px $darkGray);                
            }

            &.btn-uno{
                border-top-left-radius: 10px;
            }

            &.btn-notification{                
                border-top-right-radius: 10px;

                .icon-container{
                    position: relative;
                    display: inline-block;


                    .dot{
                        position: absolute;
                        top: 2px;
                        right: -7px;
                        width: 7px;
                        height: 7px;
                        background-color: red;
                        border-radius: 50%;
                        box-shadow: 0px 0px 2px 1px whitesmoke;
                    }
                }

            }

        }
        

        .btn-perfil{
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(13px);
            border: none !important;
            border-bottom: 3px solid $rojo !important;
            background-color: whitesmoke !important;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-radius: 5px;
            color: $darkGray !important;
            gap: 10px;
            box-shadow: 0px 2px 2px 0px whitesmoke;
            padding: 3px 10px;


            .img-perfil{
                border: 1px solid red;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 22px;
                height: 35px;
                width: 35px;
                border-radius: 100%;
            }

            .data-perfil{
                display: flex;
                flex-direction: column;
                align-items: start;
                font-size: 14px;
            }
        }
    }

    .body-user-main{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        overflow-y: auto;
        padding-top: 10px;

    }

    .footer-user-main{
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        background-color: rgba($darkGray, .5);
        // width: 100%;
        // height: 75px;
        border-top: 3px solid $rojo;
        // padding: 0px 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .btn-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: none;
            color: whitesmoke;
            font-size: 12px;
            margin-bottom: 15px;
            border-radius: 0px;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            // transition: all .3s ease-in-out;

            .fa-regular, .fa-solid{
                font-size: 21px;
                margin-bottom: 1px;
            }


            &.selected{
                background-color: $rojo;
                box-shadow: 0px 4px 4px 0px black;
            }

            &.centro {
                background-color: $gold;
                color: whitesmoke;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(-15px); // flota un poquito
                font-size: 16px;
                padding: 15px 15px;
                clip-path: polygon(
                    15% 0%,   /* esquina superior izquierda biselada */
                    85% 0%,   /* esquina superior derecha biselada */
                    100% 50%, /* punto medio derecho */
                    85% 100%, /* esquina inferior derecha biselada */
                    15% 100%, /* esquina inferior izquierda biselada */
                    0% 50%    /* punto medio izquierdo */
                );
                filter: drop-shadow(0 4px 8px rgba($rojo, 0.4)); // ✅ sombra visible
                // border-top: 3px solid $rojo;

                i {
                    font-size: 30px;
                }
            }
        }
    }

    // .footer-user-main{
    //     display: flex;
    //     justify-content: space-around;
    //     background-color: $darkGray;
    //     width: 100%;
    //     height: 75px;
    //     border-top: 3px solid $rojo;

    //     .btn-menu{
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         justify-content: center;
    //         border: none;
    //         color: whitesmoke;
    //         width: 55px;
    //         font-size: 12px;
    //         margin-bottom: 15px;
    //         border-radius: 0px;
    //         border-bottom-right-radius: 15px;
    //         border-bottom-left-radius: 15px;
    //         transition: all .3s ease-in-out;

    //         .fa-regular, .fa-solid{
    //             font-size: 26px;
    //             margin-bottom: 1px;
    //         }


    //         &.selected{
    //             background-color: $rojo;
    //             box-shadow: 0px 4px 4px 0px black;
    //             transform: scale(1.1);
    //             width: 65px;
    //         }
    //     }
    // }
}