<div class="user-main-component">
    <div class="header-user-main">
        <h1 class="logo">DaleFutbol <span>+</span></h1>
        <div class="line"></div>
        <span class="slogan">Juega donde y cuando quieras</span>        
    </div>

    <div class="body-user-main">
        <router-outlet></router-outlet>
    </div>

    <div class="footer-user-main">
        <button class="btn btn-menu" 
            *ngFor="let menu of menus; let i = index" 
            [ngClass]="{'selected' : selectedMenu == i}"
            (click)="selectMenu(i)" >

            <i class="{{menu.icon}}"></i>
            {{menu.name}}
        </button>
    </div>
</div>