<div class="container-principal">
    <div class="head-login">
        <h1 class="logo">DaleFútbol <span>+</span></h1>
    </div>

    <div class="container-login">
    
        <label class="label-title">Inicia Sesión</label>
    
        <form class="form" [formGroup]="formLogin">

            <div class="container-input form__group field" *ngFor="let input of inputForm">
                <input formControlName="{{input.name}}" id="{{input.name}}" type="{{input.type}}" class="form__field" placeholder="{{input.placeholder}}" required="{{input.required}}">
                <label for="{{input.name}}" class="form__label"><i class="{{input.icon}}"></i>&nbsp;&nbsp;{{input.placeholder}}:</label>
            </div>
    
            <button class="btn btn-primary" (click)="validateForm()" >Iniciar</button>
            <!-- data-bs-toggle="modal" data-bs-target="#modalLogin">Iniciar</button> -->
        </form>
    
        <div class="line">
    
        </div>
    
        <div class="section-buttons">
            <p class="register">Si no tienes cuenta <a class="link-register" (click)="onRegister()">Regístrate acá</a> <br>o Inicia con Google+</p>

            <button class="btn btn-google" (click)="onLoginWithGoogle()">Iniciar con <i class="fa-brands fa-google-plus-g"></i></button>
        </div>
    </div>
    
    <app-footer-app></app-footer-app>

</div>

<app-modal *ngIf="showModal" [title]="titleModal" [message]="messageModal" [closeButton]="closeButtonModal" (closed)="closeModal()"></app-modal>
