@use 'sass:color';
@use '../../app.component.scss' as *;
@use '../../shared/SCSS/input.scss' as *;

.head-login{
    background-color: color.scale($darkGray, $lightness: -10%);
    border-bottom-right-radius: 100px;
    width: 100%;
    box-shadow: 2px 2px 4px rgba($color: $rojo, $alpha: .5);

    .logo{
        color: whitesmoke;
        font-family: $logoFont;
        padding: 10px 20px;
        margin: 0;
        font-size: 36px;

        span{
            color: $rojo;
            // font-family: $textFont;
        }
    }
}


.container-login{
    width: 90%;
    margin: auto;
    background-color: rgba(color.scale($gray, $lightness: -8%), .8);
    color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;


    .label-title{
        font-family: $titleFont;
        font-size: 36px;
        margin: 20px auto;
    }

    .form{
        .btn{
            margin-top: 10px;
        }
    }


    .line{
        width: 80%;
        height: 1px;
        background-color: $rojo;
        margin: 40px auto;
    }

    .section-buttons{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 90%;
        margin: 0px auto 20px auto;

        .register{
            text-align: center;
            margin: 10px auto;

            .link-register{
                border-bottom: 1px solid $rojo;
                color: $rojo;
                cursor: pointer;

                &:hover{
                    border-bottom: 1px solid $azul;
                    color: $azul;
                }
            }
        }

        .btn-google{
            background-color: white;

            i{
                color: $rojo;
            }
        }
    }

}


.modal{
    .error{
        color: $rojo;
    }
}



