@use 'sass:color';
@use '../../app.component.scss' as *;

.head-register{
    background-color: color.scale($gray, $lightness: -5%);
    border-bottom-left-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo{
        color: whitesmoke;
        padding-right: 20px;
        span{
            color: $rojo;
        }
    }

    .fa-arrow-left{
        color: whitesmoke;
        padding-left: 25px;
        font-size: 25px;
    }

}

.container-register{
    width: 90%;
    margin: auto;
    color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: color.scale($gray, $lightness: -4%);


    .label-title{
        font-family: $titleFont;
        font-size: 30px;
        margin: 20px auto;
    }

    .form{

        .second-pass{
            margin-top: 20px;
        }

        .btn{
            margin: 20px auto;
        }        
    }
}


