<div class="container-principal">
    <div class="head-register">
        <i class="fa-solid fa-arrow-left" (click)="backLogin()"></i>
        <h1 class="logo">DaleFútbol <span>+</span></h1>
    </div>

    <div class="container-register">

        <label class="label-title">Registro de Usuario</label>
     
        <form class="form" [formGroup]="formRegister">

            <div class="container-input form__group field" *ngFor="let input of inputForm">
                <input formControlName="{{input.name}}" id="{{input.name}}" type="{{input.type}}" class="form__field" placeholder="{{input.placeholder}}" required="{{input.required}}">
                <label for="{{input.name}}" class="form__label"><i class="{{input.icon}}"></i>&nbsp;&nbsp;{{input.placeholder}}:</label>
                <label *ngIf="!formRegister.controls[input.name].untouched && formRegister.controls[input.name].invalid" class="label-error">{{input.error}}</label>
            </div>


            <div [ngClass]="{'show': showPass}" class="show-pass" (click)="showPassControl()">
                <i *ngIf="!showPass" class="fa-solid fa-eye"></i>
                <i *ngIf="showPass" class="fa-regular fa-eye"></i>
                <p *ngIf="!showPass" >Ver Contraseñas</p>
                <p *ngIf="showPass" >Ocultar Contraseñas</p>
            </div>
    
            <button class="btn btn-primary" (click)="validateForm()">Siguiente Paso &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </form>
    
    </div>

    <app-footer-app></app-footer-app>
</div>

<app-modal
    *ngIf="showModal"

    [title]="modalData.title"
    [message]="modalData.message"
    [loadModal]="modalData.loadModal"
    [closeButton]="modalData.closeButton"

    (closed)="closeModal()"
></app-modal>
