<app-modal-loading *ngIf="false"></app-modal-loading>

<div class="container-estadisticas">
    <h2 class="header-estadistica">
        Mis Stats
    </h2>

    <div class="stats-perfil">
        <span class="stats"><b><i class="fa-solid fa-futbol"></i>&nbsp;&nbsp;Partidos Jugados:</b>&nbsp;&nbsp;{{2}}</span>
        <span class="stats"><b><i class="fa-solid fa-trophy"></i>&nbsp;&nbsp;Partidos Ganados:</b>&nbsp;&nbsp;{{2}}</span>
        <span class="stats"><b><i class="fa-solid fa-ranking-star"></i>&nbsp;&nbsp;Goles/Asistencias:</b>&nbsp;&nbsp;{{2+' / '+1}}</span>
        <span class="stats"><b><i class="fa-solid fa-chart-line"></i>&nbsp;&nbsp;Tasa %:</b>&nbsp;&nbsp;{{(2/2)*100}}%</span>
    </div>

    <div class="graphics">
        <h3>Pronto...</h3>

        <ul>
            <li>Gráficos de estadísticas</li>
            <li>Canchas más utilizadas</li>
            <li>...etc...</li>
        </ul>
    </div>
</div>