<div class="container-mis-reservas">
    <div class="header-mis-reservas">
        <a (click)="buttonBack()" class="arrow-back"><i class="fa-solid fa-arrow-left"></i></a>

        <label class="title-header">Mis Reservas</label>
    </div>

    <div class="body-mis-reservas">

        <div class="card-reserva" >
            <div class="detail-card">
                <div class="header-detail-card">
                    <span class="cancha-reserva">CORDEP</span>
                    <span class="estatus confirmado"><b>Confirmado</b></span>
                </div>
                <div class="horario">
                    <span class="title">Horario:</span>
                    <div class="detail">
                        <span class="fecha-horario">06/04/2025</span>
                        <span class="hora-horario">19:00 - 20:00</span>
                    </div>
                </div>
                <div class="reserva">
                    <span class="title">Reserva:</span>
                    <div class="detail">
                        <div class="fecha-reserva">05/04/2025</div>
                        <span class="hora-reserva">14:35</span>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary">Ver mas</button>

            <!-- <div class="line"></div> -->
        </div>

        <div class="card-reserva" >
            <div class="detail-card">
                <div class="header-detail-card">
                    <span class="cancha-reserva">CORDEP</span>
                    <span class="estatus pendiente"><b>Pendiente</b></span>
                </div>
                <div class="horario">
                    <span class="title">Horario:</span>
                    <div class="detail">
                        <span class="fecha-horario">06/04/2025</span>
                        <span class="hora-horario">19:00 - 20:00</span>
                    </div>
                </div>
                <div class="reserva">
                    <span class="title">Reserva:</span>
                    <div class="detail">
                        <div class="fecha-reserva">05/04/2025</div>
                        <span class="hora-reserva">14:35</span>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary">Ver mas</button>

            <!-- <div class="line"></div> -->
        </div>

        <div class="card-reserva" >
            <div class="detail-card">
                <div class="header-detail-card">
                    <span class="cancha-reserva">CORDEP</span>
                    <span class="estatus cancelado"><b>Cancelado</b></span>
                </div>
                <div class="horario">
                    <span class="title">Horario:</span>
                    <div class="detail">
                        <span class="fecha-horario">06/04/2025</span>
                        <span class="hora-horario">19:00 - 20:00</span>
                    </div>
                </div>
                <div class="reserva">
                    <span class="title">Reserva:</span>
                    <div class="detail">
                        <div class="fecha-reserva">05/04/2025</div>
                        <span class="hora-reserva">14:35</span>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary">Ver mas</button>

            <!-- <div class="line"></div> -->
        </div>

    </div>
</div>