<div class="container-mis-reservas">
    <div class="header-mis-reservas">
        <a (click)="buttonBack()" class="arrow-back"><i class="fa-solid fa-arrow-left"></i></a>

        <label class="title-header">Mis Reservas</label>
    </div>

    <div class="body-mis-reservas" *ngIf="loading">
        <app-loading-page></app-loading-page>
    </div>

    <div class="body-mis-reservas" *ngIf="!loading">

        <div class="card-reserva" *ngFor="let data of listPro">
            <div class="detail-card">
                <div class="header-detail-card">
                    <span class="cancha-reserva">{{data.cancha.nombre}}</span>
                    <span class="estatus" [ngClass]="data.reserva.estado"><b>{{data.reserva.estado}}</b></span>
                </div>
                <div class="horario">
                    <span class="title">Horario:</span>
                    <div class="detail">
                        <span class="fecha-horario">{{data.horario.dia | date:'dd-MM-yyyy' }}</span>
                        <span class="hora-horario">{{data.horario.hora_inicio}} - {{data.horario.hora_fin}}</span>
                    </div>
                </div>
                <div class="reserva">
                    <span class="title">Reserva:</span>
                    <div class="detail">
                        <div class="fecha-reserva">{{data.reserva.fecha_reserva | timestamp }}</div>
                        <span class="hora-reserva">{{data.reserva.hora_reserva}}</span>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" (click)="redirecToMisPartidos(data)">Ver mas</button>

            
        </div>
    </div>
</div>