

<div  class="reserva-component">
    <div class="reserva-header">
        <a (click)="buttonBack()" class="arrow-back"><i class="fa-solid fa-arrow-left"></i></a>
    </div>

    <app-loading-page *ngIf="loading" ></app-loading-page>

    <div class="reserva-body" *ngIf="!loading">
        <h2 class="cancha-name">{{dataCancha.nombre}}</h2>

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

              <div class="carousel-item" [ngClass]="{'active': first}" *ngFor="let image of images; let first = first">
                <img [src]="image" class="d-block w-100" alt="...">
              </div>

            </div>
            <button class="carousel-control-prev btn-carousel" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next btn-carousel" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

     

        <div class="info-cancha">
          <label class="detail-cancha">
            Cancha {{dataCancha.capacidad}} vs {{dataCancha.capacidad}}, {{dataCancha.direccion}}
          </label>

          <div class="data-reserva">
            <span class="data" *ngFor="let data of dataReserva">
              <i class="{{data.icon}}"></i>
              {{data.detail}}
            </span>
          </div>
        </div>

        <div class="format-match">
          <h4 class="title-format">Formato:</h4>

          <p class="text-format" [ngClass]="{'important': format.category == 'important'}" *ngFor="let format of formatMatch">
            {{format.text}}
          </p>

          <div class="line"></div>
        </div>


        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Jugadores
                <span>7/14 cupos</span>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body"> 
                <div class="teams-match">
                  <div class="team" [ngClass]="team.color" *ngFor="let team of teams">
                    <span class="team-name">{{team.name}}</span>
                    
                    <div class="player-match-team" *ngFor="let player of team.players">
                      <img src="{{player.url_photo_profile}}" alt="profile-photo" class="photo-profile">
                      <span class="player-name">{{player.name}}</span>
                    </div>
      
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Tu lugar de juego
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body body-maps">

                <a class="btn-redirecTo" (click)="abrirGoogleMaps()">Ver en GoogleMaps&nbsp;&nbsp;<i class="fa-solid fa-map-location-dot"></i></a>
                <div class="maps">
                  <google-map height="400px" width="100%" [center]="center" [zoom]="zoom">
                    <map-marker [position]="markerPosition"></map-marker>
                  </google-map>
                </div>
                <label class="adress-cancha"><i class="fa-regular fa-circle-dot"></i>&nbsp;&nbsp;{{adress}}</label>

                
              </div>
            </div>
          </div>
        </div>



    </div>

    <div class="reserva-footer">
        <button class="btn btn-reservar" (click)="redirecToCheckOut()">Unirme al Partido</button>
    </div>
</div>