<div class="data-search">
    <div class="calendar">
        <div class="info-date">
            <span class="date"><b>Hoy</b>, martes 11 </span>
            <span class="comuna">en <b>La Pintana</b>&nbsp;<i class="fa-solid fa-location-dot"></i></span>
        </div>

        <div class="date-picker-container">
            <input type="date" class="date-picker">
            <span><i class="fa-regular fa-calendar-days"></i></span>
        </div>
    </div>

    <div class="search-container">
        <form class="form-search">
            <input type="text" class="search-input" placeholder="Busca tu cancha...">
            <button class="btn btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <select name="" id="" class="comuna-select">
            <option value="" selected>Comuna</option>
            <option value="">La Pintana</option>
        </select>
    </div>
</div>

<div class="cancha-list">
    <div class="cancha-card" style="background-image: url('{{url1}}');">
        <div class="detail-cancha">
            <h3 class="cancha-name">SuperCancha SuperCanchaSuperCanchaSuperCancha</h3>
            <span class="cancha-detail">Infoor 7 vs 7, sintetico</span>
            <span class="cancha-hours">21:00 hr</span>
        </div>

        <div class="bottom-card">
            <span class="cuantity-group">7/14&nbsp;<i class="fa-solid fa-users"></i></span>
            <a class="btn btn-cancha-reserva" (click)="redirecToReserva()">Reservar a</a>
        </div>
    </div>

    <div class="cancha-card" style="background-image: url({{url2}});">
        <div class="detail-cancha">
            <h3 class="cancha-name">SuperCancha</h3>
            <span class="cancha-detail">Infoor 7 vs 7, sintetico</span>
            <span class="cancha-hours">21:00 hr</span>
        </div>

        <div class="bottom-card">
            <span class="cuantity-group">7/14&nbsp;<i class="fa-solid fa-users"></i></span>
            <a class="btn btn-cancha-reserva">Reservar</a>
        </div>
    </div>
    <div class="cancha-card" style="background-image: url('{{url1}}');">
        <div class="detail-cancha">
            <h3 class="cancha-name">SuperCancha</h3>
            <span class="cancha-detail">Infoor 7 vs 7, sintetico</span>
            <span class="cancha-hours">21:00 hr</span>
        </div>

        <div class="bottom-card">
            <span class="cuantity-group">7/14&nbsp;<i class="fa-solid fa-users"></i></span>
            <a class="btn btn-cancha-reserva">Reservar</a>
        </div>
    </div>

    <div class="cancha-card" style="background-image: url({{url2}});">
        <div class="detail-cancha">
            <h3 class="cancha-name">SuperCancha</h3>
            <span class="cancha-detail">Infoor 7 vs 7, sintetico</span>
            <span class="cancha-hours">21:00 hr</span>
        </div>

        <div class="bottom-card">
            <span class="cuantity-group">7/14&nbsp;<i class="fa-solid fa-users"></i></span>
            <a class="btn btn-cancha-reserva">Reservar</a>
        </div>
    </div>
    <div class="cancha-card" style="background-image: url('{{url1}}');">
        <div class="detail-cancha">
            <h3 class="cancha-name">SuperCancha</h3>
            <span class="cancha-detail">Infoor 7 vs 7, sintetico</span>
            <span class="cancha-hours">21:00 hr</span>
        </div>

        <div class="bottom-card">
            <span class="cuantity-group">7/14&nbsp;<i class="fa-solid fa-users"></i></span>
            <a class="btn btn-cancha-reserva">Reservar</a>
        </div>
    </div>

    <div class="cancha-card" style="background-image: url({{url2}});">
        <div class="detail-cancha">
            <h3 class="cancha-name">SuperCancha</h3>
            <span class="cancha-detail">Infoor 7 vs 7, sintetico</span>
            <span class="cancha-hours">21:00 hr</span>
        </div>

        <div class="bottom-card">
            <span class="cuantity-group">7/14&nbsp;<i class="fa-solid fa-users"></i></span>
            <a class="btn btn-cancha-reserva">Reservar</a>
        </div>
    </div>
</div>