

<div  class="check-out-component">

    <div *ngIf="!loading" class="header-check-out">
        <a (click)="buttonBack()" class="arrow-back"><i class="fa-solid fa-arrow-left"></i></a>
    </div>

    <div *ngIf="!loading" class="body-check-out">
        <h3>Ticket</h3>

        <div class="cancha-detail">
            <span class="nombre">{{cancha.nombre}}</span>
            <span class="capacidad">{{cancha.capacidad_equipo}} vs {{cancha.capacidad_equipo}}</span>
            <span class="direccion">{{cancha.direccion}}<br> {{cancha.comuna}}</span>
            <div class="line"></div>
        </div>

        <div class="perfil-detail">
            <span class="jugador"><b>Jugador:</b> {{perfil.nombre}} {{perfil.apellido}}</span>
            <span class="posicion"><b>Posicion:</b> {{perfil.posicion || 'None'}}</span>
            <span><b>Color:</b> {{colorTeam}}</span>
            <div class="line"></div>
        </div>

        <div class="reserva-detail">
            <span class="horario">{{horario.hora_inicio}} hr</span>
            <span class="fecha">{{date}}</span>
            <div class="line"></div>
        </div>

        <div class="precio-detail">
            <span class="valor-title">Valor Cancha: $</span>
            <span class="valor-detail">{{cancha.precio}}</span>

            <span class="descuento-title">Descuento: $</span>
            <span class="descuento-detail">{{descuento}}</span>

            <div class="line"></div>

            <span class="total-title">Total: $</span>
            <span class="total-detail">{{cancha.precio - descuento}}</span>
        </div>


        <div class="condiciones-de-pago">
            <p class="condicion"></p>
            

            <div class="aceptacion">
                <div class="checkbox-wrapper-12">
                    <div class="cbx">
                      <input  type="checkbox" id="cbx-12" (change)="confirm = !confirm">
                      <label for="cbx-12"></label>
                      <svg fill="none" viewBox="0 0 15 14" height="10" width="11">
                        <path d="M2 8.36364L6.23077 12L13 2"></path>
                      </svg>
                    </div>
                    
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                      <defs>
                        <filter id="goo-12">
                          <feGaussianBlur result="blur" stdDeviation="4" in="SourceGraphic"></feGaussianBlur>
                          <feColorMatrix result="goo-12" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" mode="matrix" in="blur"></feColorMatrix>
                          <feBlend in2="goo-12" in="SourceGraphic"></feBlend>
                        </filter>
                      </defs>
                    </svg>
                </div>

                <span class="text-aceptacion" (click)="_showModal()">Aceptas los términos y condiciones</span>
            </div>

            <button class="btn btn-pay mb-2" (click)="addReserva()">Confirmar</button>


        </div>


    </div>
</div>


<app-modal-condition-terms *ngIf="showModalConditionTerms" (closed)="closeModal()"></app-modal-condition-terms>

<app-modal-response *ngIf="showModalResponse" [title]="modalResponse.title" [subtitle]="modalResponse.subtitle" [message]="modalResponse.message" [showButtonClose]="showModalButtonClose" (closed)="closeModal()"></app-modal-response>

<app-modal-loading *ngIf="loading"></app-modal-loading>