

<div  class="check-out-component">

    <div *ngIf="loading" class="loader-container">
      <app-loading-page></app-loading-page>
    </div>

    <div *ngIf="!loading" class="header-check-out">
        <a (click)="buttonBack()" class="arrow-back"><i class="fa-solid fa-arrow-left"></i></a>
    </div>

    <div *ngIf="!loading" class="body-check-out">
        <div class="cancha-detail">
            <span class="nombre">{{cancha.nombre}}</span>
            <span class="capacidad">{{cancha.capacidad_equipo}} vs {{cancha.capacidad_equipo}}</span>
            <span class="direccion">{{cancha.direccion}}, {{cancha.comuna}}</span>
            <div class="line"></div>
        </div>

        <div class="perfil-detail">
            <span class="jugador"><b>Jugador:</b> {{perfil.nombre}} {{perfil.apellido}}</span>
            <span class="posicion"><b>Posicion:</b> {{perfil.posicion || 'None'}}</span>
            <span><b>Color:</b> {{colorTeam}}</span>
            <div class="line"></div>
        </div>

        <div class="reserva-detail">
            <span class="horario">{{horario.hora_inicio}} hr</span>
            <span class="fecha">{{date}}</span>
            <div class="line"></div>
        </div>

        <div class="precio-detail">
            <span class="valor-title">Valor Cancha: $</span>
            <span class="valor-detail">{{cancha.precio}}</span>

            <span class="descuento-title">Descuento: $</span>
            <span class="descuento-detail">{{descuento}}</span>

            <div class="line"></div>

            <span class="total-title">Total: $</span>
            <span class="total-detail">{{cancha.precio - descuento}}</span>
        </div>


        <div class="condiciones-de-pago">
            <p class="condicion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum obcaecati harum dolore odit dolorum, ipsam dolorem, debitis ullam nesciunt nemo, hic doloribus sapiente! Consequatur minus quos possimus modi fugiat atque.</p>
            

            <div class="aceptacion">
                <div class="checkbox-wrapper-12">
                    <div class="cbx">
                      <input  type="checkbox" id="cbx-12" (change)="confirm = !confirm">
                      <label for="cbx-12"></label>
                      <svg fill="none" viewBox="0 0 15 14" height="14" width="15">
                        <path d="M2 8.36364L6.23077 12L13 2"></path>
                      </svg>
                    </div>
                    
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                      <defs>
                        <filter id="goo-12">
                          <feGaussianBlur result="blur" stdDeviation="4" in="SourceGraphic"></feGaussianBlur>
                          <feColorMatrix result="goo-12" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" mode="matrix" in="blur"></feColorMatrix>
                          <feBlend in2="goo-12" in="SourceGraphic"></feBlend>
                        </filter>
                      </defs>
                    </svg>
                </div>

                <span class="text-aceptacion">Aceptas los terminos y condiciones</span>
            </div>

            <button class="btn btn-pay mb-5" data-bs-toggle="modal" data-bs-target="#dataTransfer">Confirmar</button>


        </div>


    </div>
</div>


<!-- Modal Datos de Transferencia -->
<div class="modal fade" id="dataTransfer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dataTransferLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="dataTransferLabel">Confirmar Reserva:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="intructions">
            <p>Al momento de Confirmar Reserva, tu registro sera guardado</p>
            <p>Serás redirigido a tu Whatsapp, donde notificarás la reserva</p>
            <p>Al momento de hacer el pago, puedes compartir tu voucher por Whatsapp</p>
            <p>A travás de Whatsapp, serás notificado si la reserva se ha confirmado o ha sido rechazada</p>
            <p>** Por la aplicación también podrás verificar aquello</p>
            <p>** Siempre estaremos atentos a tus dudas. Puedes comunicarte via Whatsapp con nosotros</p>
            <p>** Los datos de transferencias se pueden visualizar más abajo, a través de tu perfil y vía Whatsapp</p>
          </div>

          <div class="title-data-transfer">
            <p>Datos de Transferencia</p>
          </div>

          <div class="datos-transferencia">
              <div class="dato">
                <strong>RUT:</strong> {{ cuentaBancaria.rut }}
                <button (click)="copiarText(cuentaBancaria.rut)"><i class="fa-solid fa-copy"></i></button>
              </div>
              <div class="dato">
                <strong>Nombre:</strong> {{ cuentaBancaria.nombre }}
                <button (click)="copiarText(cuentaBancaria.nombre)"><i class="fa-solid fa-copy"></i></button>
              </div>
              <div class="dato">
                <strong>Banco:</strong> {{ cuentaBancaria.banco }}
                <button (click)="copiarText(cuentaBancaria.banco)"><i class="fa-solid fa-copy"></i></button>
              </div>
              <div class="dato">
                <strong>Tipo de cuenta:</strong> {{ cuentaBancaria.tipoCuenta }}
                <button (click)="copiarText(cuentaBancaria.tipoCuenta)"><i class="fa-solid fa-copy"></i></button>
              </div>
              <div class="dato">
                <strong>N° Cuenta:</strong> {{ cuentaBancaria.numeroCuenta }}
                <button (click)="copiarText(cuentaBancaria.numeroCuenta)" ><i class="fa-solid fa-copy"></i></button>
              </div>
              <div class="dato">
                <strong>Correo:</strong> {{ cuentaBancaria.correo }}
                <button (click)="copiarText(cuentaBancaria.correo)"><i class="fa-solid fa-copy"></i></button>
              </div>

              <span class="confirm-copied " style="color: black;">{{statusCopiedText}}</span>
          </div>

          

          <!-- <button type="button" class="btn btn-primary mt-4" (click)="copiarTotalText(cuentaBancaria)">Copiar todos los datos</button>   -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addReserva()">Confirmar Reserva</button>
      </div>
    </div>
  </div>
</div>