@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


// Fuentes de Texto
$logoFont: "Anton", serif;
$titleFont: "Lato", serif;
$textFont: "Roboto", serif;


//Colores
$rojo: #DC2121;
$azul: #233D4D;
$gray: #2C2C2C;
$darkGray: #1F1F1F;
$lightGray: #929283;
$gold: #BDB246;
$success: #00ec00;
$error: #FF0019;
$teamBlue: #0419d6;
$teamGreen: #398f28;

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

.form-check-input:checked {
    background-color: $rojo;
    border-color: $rojo;
}

.form-check-input:focus {
    box-shadow: 0 0 0 .25rem rgba($color: $rojo, $alpha: .25);
}




.container-principal{
    // background-color: green;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // overflow-x: hidden;
    // overflow-y: auto;
}

.btn{
    border: 2px solid $azul;
    font-family: $textFont;
    background-color: transparent;
    color: $azul;
    width: 100%;
    padding: 5px;
    font-size: 17px;
    border-radius: 5px;
}

.btn-primary{
    border: 2px solid $rojo !important;
    background-color: $rojo !important;
    color: whitesmoke !important;
}

.btn-secondary{
    border: 2px solid $rojo !important;
    background-color: whitesmoke !important;
    color: $rojo !important;
}

.form{
    display: flex;
    flex-direction: column;

    .container-input{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0px auto 0px auto;
        height: 80px;

        .label-input{
            font-family: $titleFont;
            font-size: 18px;
            
            .fa-solid, .fa-regular{
                color: $gold;
            }
        }

        .input-form, .select-form{
            background-color: $gray;
            border: none;
            padding: 5px;
            font-size: 16px;
            color: white;
            border-bottom: 1px solid red;
            margin-top: 5px;
            // border-bottom-right-radius: 100px;
            // border-top-right-radius: 100px;
        }

        .select-form{
            &::-webkit-scrollbar{
                width: 2px;
                border-radius: 100px;
            }
            &::-webkit-scrollbar-thumb{
                background: $rojo;
            }

            .disabled-option{
                color: red;
            }
        }

        .label-error{
            color: $error;
            margin: 5px 0px 0px auto;
        }  

        .label-message{
            color: color.scale($gray, $lightness: 40%);
            // color: lighten($color: $gray, $amount: 40);
            // color: color.scale($gray, $li40%);
            // color: mix(white, $gray, 40%);


            margin: 5px 0px 0px auto;
        }
    }

    .btn{
        width: 90%;
        margin: auto;
    }
    
}

::-webkit-scrollbar{
    width: 2px;
    height: 1px;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb{
    background: $rojo;
}

.table-primary{

    .thead-primary{
        tr{
            th{
                background-color: #0f0f0fb7;
                color: white;
            }
        }
    }

    .tbody-primary{
        border-bottom: 2px solid $darkGray;

        tr{
            &:last-child{
                border-bottom: 2px solid $lightGray;
            }   
            
            .icon{
                text-align: center;
            }

            th{
                background-color: $darkGray;
                color: white;
            }
            td{
                background-color: $darkGray;
                color: white;

                .table-nest{
                    border: 2px solid $gray;
                
                    .thead-nest{
                        tr{ 
                            border-bottom: 2px solid $darkGray;

                            text-align: left;

                            th{
                                background-color: #0f0f0fb7;
                                color: white;
                                
                                &:last-child, &:first-child{
                                    text-align: center;
                                }
                            }
                        }                        
                    }

                    .tbody-nest{
                        tr{
                            border-bottom: 2px solid $gray;
                            th, td{
                                background-color: $gray;
                            }

                            th{
                                text-align: center;
                            }

                            td{
                                &:last-child{
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }


    }
}

.group-input{
    position: relative;
    margin-top: 50px;
   
    .input {
        font-size: 16px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 200px;
        border: none;
        border-bottom: 1px solid #515151;
        background: transparent;

        color: white;

        &:focus {
            outline: none;
        }
    }

    label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
       }
       
       .input:focus ~ label, .input:valid ~ label {
        top: -20px;
        font-size: 18px;
        color: white;
       }
       
       .bar {
        position: relative;
        display: block;
        width: 200px;
       }
       
       .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: $rojo;
        transition: 0.2s ease all;
        -moz-transition: 0.5s ease all;
        -webkit-transition: 0.5s ease all;
       }
       
       .bar:before {
        left: 50%;
       }
       
       .bar:after {
        right: 50%;
       }
       
       .input:focus ~ .bar:before, .input:focus ~ .bar:after {
        width: 50%;
       }
       
       .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
       }
       
       .input:focus ~ .highlight {
        animation: inputHighlighter 0.3s ease;
       }
       
       @keyframes inputHighlighter {
        from {
         background: $rojo;
        }
       
        to {
         width: 0;
         background: transparent;
        }
       }
}

.datos-transferencia{
    .dato{
        display: grid;
        grid-template-columns: .6fr 1fr .1fr;
        margin-bottom: 8px;

        button{
            border-radius: 5px;
            border: 1px solid $lightGray;
            background-color: white;
            color: $rojo;
        }
    }




    .confirm-copied{
        display: flex;
        align-items: center;
        justify-content: center;

        border-top: 1px solid $lightGray;
    }
}