@import '../../app.component.scss';

.head-register{
    background-color: darken($gray, 5);
    border-bottom-left-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px auto auto auto;

    .logo{
        color: whitesmoke;
        padding-right: 20px;
        span{
            color: $rojo;
        }
    }

    .fa-arrow-left{
        color: whitesmoke;
        padding-left: 25px;
        font-size: 25px;
    }

}

.container-register-profile{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: darken($color: $gray, $amount: 4);
    overflow: hidden;
    height: 100%;

    .label-title{
        font-family: $titleFont;
        font-size: 30px;
        margin: 20px auto;
    }

    .form{
        overflow-y: auto;
        overflow-x: hidden;        
    
        &::-webkit-scrollbar{
            width: 2px;
            border-radius: 100px;
        }
        &::-webkit-scrollbar-thumb{
            background: $rojo;
        }

        .container-input{
            margin-top: 10px;
            margin-bottom: 10px;

            .input-phone{
                display: flex;

                .label-ip{
                    padding-right: 5px;
                    padding: 5px 5px 0px 5px;
                    background-color: $gray;
                    border-bottom: 1px solid $rojo;
                    margin-top: 5px;
                    
                    
                }

                .input-form{
                    width: 100%;
                }
            }

        }

        .btn{
            margin: 20px auto;
        }        
    }
}