
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import 'app/app.component.scss';

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  padding: 0; 
  font-family: $titleFont; 
  width: 100vw; 
  height: 100vh;
  background-color: $darkGray; 
//   background: radial-gradient(
//     circle farthest-side at 0% 50%,
//     #282828 23.5%,
//     rgba(255, 170, 0, 0) 0
//   )
//   21px 30px,
// radial-gradient(
//     circle farthest-side at 0% 50%,
//     #a1000e 24%,
//     rgba(240, 166, 17, 0) 0
//   )
//   19px 30px,
// linear-gradient(
//     #282828 14%,
//     rgba(240, 166, 17, 0) 0,
//     rgba(240, 166, 17, 0) 85%,
//     #282828 0
//   )
//   0 0,
// linear-gradient(
//     150deg,
//     #282828 24%,
//     #a1000e 0,
//     #a1000e 26%,
//     rgba(240, 166, 17, 0) 0,
//     rgba(240, 166, 17, 0) 74%,
//     #a1000e 0,
//     #a1000e 76%,
//     #282828 0
//   )
//   0 0,
// linear-gradient(
//     30deg,
//     #282828 24%,
//     #a1000e 0,
//     #a1000e 26%,
//     rgba(240, 166, 17, 0) 0,
//     rgba(240, 166, 17, 0) 74%,
//     #a1000e 0,
//     #a1000e 76%,
//     #282828 0
//   )
//   0 0,
// linear-gradient(90deg, #a1000e 2%, #282828 0, #282828 98%, #a1000e 0%) 0 0
//   #282828;
// background-size: 40px 60px;
}


